<h2 *ngIf="isloading">Loading...
    <div *ngIf="isloading" class="spinner-border" role="status">
    </div>
    </h2>
<div class="movie-container">
    <div class="movie" *ngFor="let movie of movielist">
        <a routerLink="/movies/{{movie.id}}">

            <img class="image" src="{{ movie.thumbnail.path +'.'+movie.thumbnail.extension }} "alt="">

            <div class="details">
                <p class="name">ID:{{movie.id}}</p>
                <p class="name">{{movie.title  | slice:0:10}}</p>
                <p class="name">{{movie.endYear}}</p>
                <p class="name">Rating:{{rating(movie.rating)}}</p>
                <br><br>
                <button *ngIf="false" class="btn btn-danger" (click)="delete(movie)">DELETE</button>
            </div>
        </a>
    </div>
</div>