<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<br>
<h2 *ngIf="isloading">Loading...
<div *ngIf="isloading" class="spinner-border" role="status">
  <!-- <span class="sr-only">Loading...</span> -->
</div>
</h2>
<!-- <div class="flip-card" *ngFor="let char of characterList">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <img class="image" src="{{ char.thumbnail.path +'.'+char.thumbnail.extension }} "alt="" style="width:300px;height:300px;padding: 10px;">
      </div>
    <div class="flip-card-back">
      <h1>{{char.name}}</h1> 
      <p>{{char.id}}</p> 
      <p>{{char.description}}</p>
    </div>
  </div>
</div> -->
<div class="poster" *ngFor="let char of characterList">
  <div class="img-container">
    <img src="{{ char.thumbnail.path +'.'+char.thumbnail.extension }}" alt="">
  </div>
  <div class="details">
    <p>{{char.name}}</p>
    <div class="curtain"></div>
  </div>
</div>
</body>