@import '../../../styles.scss';
h3{
    @include font;
    font-size: 30px;
  }
   .headerImage{
   padding: 10px;

    img {
      height: 300px;
      width: 300px;
      margin-left: 20px;
      margin-right: 10px;
    }
   }

   .moviehead{
    display: inline-flex;
    position: relative;

    h2{
        @include loading;
        @include font;
    }
   .poster {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        height: 400px;
        width: 200px;
        cursor: pointer;

    .img-container {
      height: 55%;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        transition: 0.3s ease;
      }
      border-bottom: 5px solid red;
    }
    .details {
      background: black;
      height: 45%;
      position: relative;
      p {
        color: white;
        margin: 0;
        padding: 16px;
        z-index: 2;
        position: relative;
      }
    }
  }
   }

    .movie-list {
      display: inline-flex;
    position: relative;
    margin-bottom: 70px;
   h2{
        @include loading;
        @include font;
    }

    .movie {
            border: 1px;
            margin:12px;
            width: 150px;
            padding: 2px;
            border-radius: 5px;
            display: inline-flex;
            height: 320px;
            .link {
                cursor: pointer;
                position: relative;
                img {
                    width: 140px;
                    height: 200px;
                }
                p {
                    margin: 0;
                }
    
                .name {
                    font-weight: bold;
                }
    
                .year {
                    font-size: 14px;
                }
            }
        }
    }
   